<!-- card section -->
<div class="main-overflow">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <% background_url = cl_image_path cocktail.photo.key, width: 500, height: 600, crop: :fill %>
      <% else %>
        <% background_url = 'https://images.unsplash.com/photo-1570204865352-934c744d682c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'%>
      <% end %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
        <%=  link_to cocktail.name, cocktail_path(cocktail)%>
        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Delete this cocktail?' } do %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
