<div class="main-overflow">
  <h1 id="h1-profile">My Coktails</h1>
  <div class="cards">
    <% @user.cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <% background_url = cl_image_path cocktail.photo.key, width: 500, height: 600, crop: :fill %>
      <% else %>
        <% background_url = 'https://images.unsplash.com/photo-1570204865352-934c744d682c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'%>
      <% end %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
      <%=  link_to cocktail.name, cocktail_path(cocktail)%>
      <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Delete this cocktail?' } do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<!-- <div class="flip-card"> testing
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://images.unsplash.com/photo-1583898350903-99fa829dad3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=716&q=80" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Reciepe:</h1>
      <p>2 slices lemons</p>
      <p>2 ice cubes</p>
    </div>
  </div>
</div>
<h1>profile of <%= @user.email %></h1> -->
