
a{
text-decoration: none;
color:black;
font-weight: normal;
}

a:hover, a:active {
 opacity: 0.8;
 color: #999999;
 text-decoration: none;
}

.site-links{
  color:black;
}

.link-to a{
  color: white;
}

