.show {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  padding-right: 0px;
}

#detail-h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter !important;
  margin-bottom: 10px;  //  or 15px
  margin-left: 20px;
}

#last-h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter !important;
  margin-bottom: 30px;  //  or 15px
  margin-left: 20px;
}

#detail-h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter !important;
  margin-left: 25px;
}

.ingredient-box .fas, .far {
  margin-left: 18px;
}

.detail-image-placeholder {
  width: 100%;
  margin-top: 20px;
  max-height: 450px;
}

.detail-image {
  max-width: 253px;
  margin-top: 20px;
  max-height: 450px;
  display: block;
  border-radius: 5px;
}

#dose-list {
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  font-weight: lighter;
}

.fa-trash-alt {
  color: black;
  font-size: 12px;
  margin-left: 3px;
}

//button

.btn-show{
  margin-left: 20px;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 14px 32px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn-show:hover{
  opacity: 1;
  color: #999999;
  border: 1px solid #999999;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {

.show {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 10px;
}

.detail-image {
  max-width: 100%;
}

.detail-box {
padding-right: 20px;
}

#detail-h1 {
  margin-left: 0px;
}

#last-h1 {
  margin-left: 0px;
}


#detail-h3 {
  margin-left: 0px;
}

}
