// landing page button

.btn-medium{
  font-family: 'Roboto Mono', monospace;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 14px 32px;
  font-weight: normal;
  margin: 0 10px;
  text-align: center;
  display: inline-block;
}

.btn-medium:hover{
  text-decoration: none;
  opacity: 1;
  color: #999999;
  border: 1px solid #999999;
}

.home-button {
  margin-top: 20px;
}

// form button

.btn-form{
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 14px 32px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 10px;
}

.btn-form:hover{
  opacity: 1;
  color: #999999;
  border: 1px solid #999999;
}

// detail button add a dose
.btn-deatail{
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 14px 32px;
  font-weight: normal;

  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
  }

  .btn-deatail:hover{
  opacity: 1;
  color: #999999;
  border: 1px solid #999999;
}
