// Sign Up
.form-background {
  background-color: #AD343E;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-size {
  width: 25%;
  display: flex;
  // justify-content: center;
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

.form-size a {
  color: white;
}

.form-size a:hover {
  text-decoration: none;
}

form {
  width: 100%;
}

.form-content {
  width: 100%;
}

.form-content input{
  border-radius: 5px;
  outline: none;
}

.form-content select{
  border-radius: 5px;
  outline: none;
}

.form-inputs {
  width: 100%;
  padding: 25px 15px;
}

.form-size input {
  margin-bottom: 30px;
}

.form-size select {
  margin-bottom: 30px;
}

.form-size .form-control-file {
  border-radius: 5px;
}

.form-inputs h2 {
  margin-bottom: 25px;
}

// photo upload soluton make invisibl and change label to button
input[type='file'] {
  opacity:0
}

.special-photo-button label {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.special-photo-button:hover label {
  text-decoration: none;
  color: black;
  background: white;
  opacity: 1;
}

// button
.form-actions {
  margin-bottom: 25px;
  padding: 0 50px;
}

.button-form-all {
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  display: inline-block;

  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
}

.button-form-all:hover {
  text-decoration: none;
  color: black;
  background: white;
  opacity: 1;
}

/* If the screen size is 600px wide or less, then apply this settings */
@media only screen and (max-width: 767px) {

.form-size {
  width: 80%;
}
}

@media only screen and (width: 768px) {

.form-size {
  width: 40%;
  margin-top: 50px;
}
}
