// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "banner";
@import "button";
@import "sidenav";
@import "form";
@import "flip_card";

body{
  font-family: 'Roboto Mono', monospace !important;
  background-color: white !important;
}

.center-div-content {
  display: flex;
  justify-content: center;
  align-items: center;
}











