// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "banner";
@import "button";
@import "my_navbar";
@import "form";
@import "flip_card";
@import "footer";


body{
  font-family: 'Roboto Mono', monospace !important;
  background-color: white !important;
    // width: 100%;
    // height: 100%;
    // margin: 0px;
    // padding: 0px;
    // overflow-x: hidden;
}

.center-div-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  height:100vh;
}

/* If the screen size is 600px wide or less, then apply this settings */
@media only screen and (max-width: 600px) {

.content-container {
height: auto;
}

}





