.my-navbar h1 {
  color: white;
  margin-top: 16px;
  margin-right: 10px;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 2rem;
}

.navbar {
  background-color: black !important;
}

// .btn-outline-blue{
//  border: 1px solid #13A3B8;
// }
