// landing page button

.btn-medium{
font-family: Open-sans, sans-serif;
border: 1px solid white;
color: white;
border-radius: 5px;
padding: 14px 32px;
font-weight: lighter;
margin: 0 10px;
text-align: center;
display: inline-block;
}

.btn-medium:hover{
opacity: 1;
color: #999999;
border: 1px solid #999999;
}


.home-button {
margin-top: 20px;
}


// form button

.btn-form{
background-color: transparent;
font-family: Open-sans, sans-serif;
border: 1px solid white;
color: white;
border-radius: 5px;
padding: 14px 32px;
font-weight: lighter;

text-align: center;
display: inline-block;
margin-bottom: 30px;
margin-top: 20px;
}

.btn-form:hover{
opacity: 1;
color: #999999;
border: 1px solid #999999;
}
